#header {
  text-align: center;
  letter-spacing: 4px;
  border: 10px solid;
  color: #FF9900;
  }

  html{
    font-family:'Droid Sans', sans-serif;
  }

span{
  font-weight: bold;
}


.fa-angle-double-left:before {
content: "\f100";
color:  #FF9900;
font-size: 5em;

display: inline-block;
border-style: solid ;
border-radius: 2px;
margin: 0 1em 0 0em;
}
.fa-angle-double-right {
content: "\f100";
color:  #FF9900;
font-size: 5em;
display: inline-block;
border-style: solid ;
border-radius: 2px;
margin: 0 0em 0 1em;
}