 /* include your css here */
header {
  text-align: center;
  background-color: blue;
  border: 5px dashed;
  color: #FFFFFF;
  font-family:'Open Sans', sans-serif;
}

header a:link {
  text-decoration: none;
  color: red;
}

header a:visited {
  color: yellow;
}

header a:hover {
  color: orange;
      }

header p {
  line-height: 6px;
}

nav ul li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

section {
  font-family:'Open Sans', sans-serif;
  /*float: left;*/
  margin-left: 15px;
  margin-right: 15px;
}

#content h3 p {
  float: left;
}

img {
  float: right;
  margin: 0 0 1em 1em;
  width: 500px;
  height: 300px;
}

footer {
  font-family:'Open Sans', sans-serif;
  margin-left: 15px;
  margin-right: 15px;
}

footer a {
  text-decoration: none;
}

footer a:visited {
  color: red;
}

footer a:hover {
  color: blue;
}

#reflection {
  font-family: 'Open Sans', sans-serif;
}